---
import MainLayout from '../../layouts/MainLayout.astro';
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const title = t('page.index.title');
const content = t('page.index.content');

import featuredImage from "../../assets/suchdol.png";
---

<MainLayout title={title} lang={lang}>
  <h2 class="goals-title">{title}</h2>
  <div class="goals">
    <div class="goals-image">
        {featuredImage ? (
        <Image src={featuredImage} alt={title + " - Featured image"} class="featured-image" width="500" height="300"/>
        ) : (
          ""
        )}
    </div>
    <div class="goals-text">
      <div set:html={content} />
    </div>
</div>
</MainLayout>
