---
import MainLayout from '../../layouts/MainLayout.astro';
import BlogCard from '../../components/BlogCard.vue';
import { getCollection } from 'astro:content';
import { useTranslations } from '../../i18n/utils';
import { languages, defaultLang, type Lang } from '../../i18n/ui';

export async function getStaticPaths() {
  return Object.keys(languages).map((code) => ({
    params: { lang: code === defaultLang ? undefined : code },
    props: { lang: code as Lang },
  }));
}

const { lang } = Astro.props;
const t = useTranslations(lang);

const posts = await getCollection('posts', ({ data }) => data.lang === lang);
---

<MainLayout title={t('page.blog.title')} lang={lang}>
  <h2>{t('page.blog.title')}</h2>
  <div class="blog-posts">
    {posts.map((post, index) => (
      <BlogCard
        client:load
        slug={post.data.slug}
        featuredImage={post.data.featuredImage}
        title={post.data.title}
        date={post.data.date}
        index={index}
      />
    ))}
  </div>
</MainLayout>
