---
import MainLayout from '../../layouts/MainLayout.astro';
import PublicationCard from '../../components/PublicationCard.vue';
import { getCollection } from 'astro:content';
import { useTranslations } from '../../i18n/utils';
import { languages, defaultLang, type Lang } from '../../i18n/ui';

export async function getStaticPaths() {
  return Object.keys(languages).map((code) => ({
    params: { lang: code === defaultLang ? undefined : code },
    props: { lang: code as Lang },
  }));
}

const { lang } = Astro.props;
const t = useTranslations(lang);

const publications = await getCollection('publications', ({ data }) => data.lang === lang);
const sortedPublications = publications.sort((a, b) =>
  new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<MainLayout title={t('page.publications.meta')} description={t('page.publications.description')} lang={lang}>
  <h2>{t('page.publications.title')}</h2>
  <div class="papers-cont">
    {sortedPublications.map((publication, index) => (
      <PublicationCard
        client:load
        title={publication.data.title}
        authors={publication.data.authors}
        date={publication.data.date}
        link={publication.data.link ?? ''}
        index={index}
      />
    ))}
  </div>
</MainLayout>
