---
import MainLayout from '../layouts/MainLayout.astro';
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import FallingLeaves from '../components/FallingLeaves.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const title = t('page.index.title');
const content = t('page.index.content');

import featuredImage from '../assets/suchdol.png';
---

<MainLayout title={title} lang={lang}>
  <section class="goals-section">
    <FallingLeaves />
    <h2 class="goals-title">{title}</h2>
    <div class="goals">
      <div class="goals-text">
        <div set:html={content} />
      </div>
      <div class="goals-image">
        <Image
          src={featuredImage}
          alt={`${title} — featured image`}
          class="featured-image"
          width={520}
          height={520}
        />
      </div>
    </div>
  </section>
</MainLayout>
