---
import MainLayout from '../layouts/MainLayout.astro';
import BlogCard from '../components/BlogCard.vue';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<MainLayout class="blog-page">
  <h2>Blog</h2>
  <div class="blog-posts">
    {posts.map((post, index) => (
      <BlogCard 
        client:load
        slug={post.data.slug}
        featuredImage={post.data.featuredImage}
        title={post.data.title}
        date={post.data.date}
        index={index}
      />
    ))}
  </div>
</MainLayout>